h1 {
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    size: 30px;
}

h2 {
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    size: 20px; 
}

h3 {
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    size: 18px;
}


label, p {
    size: 16px;
}