:root { 
    --purpleHighlightingTone: rgb(180, 173, 245); 
    --redDisplayTone: rgb(214, 93, 93);
}


/* Setting up the Style below */

body { 
    background-color: rgb(252, 245, 238);
    padding: 20px;

}

header {
    display: flex;
    justify-content: space-around;
    border-bottom: 4px var(--purpleHighlightingTone) solid;
    padding: 5px;
    margin-bottom: 25px;
}

.TimerDisplay {
    color: var(--redDisplayTone);
    font-size: 22px;
    font-weight: bolder;
}

footer {
    margin-top: 25px;
    border-top: 4px var(--purpleHighlightingTone) solid;
}

#highScoreDiv h2 {
    width: 300px;
    border-bottom: 4px var(--purpleHighlightingTone) solid;

}

.TimerDisplay {
    display: flex;
    justify-content: space-around;
}

.TitleCardContainer {
    height: 300px;
    padding: 40px;
    margin-bottom: 10px;
    align-items: center;
    float: center;
    border-left: 4px var(--redDisplayTone) solid;
    border-right: 4px var(--redDisplayTone) solid;
}


.questionChoices,
#StartSubmitButton, 
#submitInitialsButton { 
    height: 50px;
    width: 150px;
    color: black;
    font-size: 16px;
    outline: none;
    border: 4px var(--purpleHighlightingTone) solid;
    border-radius: 6px;
    font-family: "Luminari", "fantasy";
    margin: 5px;   
}

.questionChoices:hover,
#StartSubmitButton:hover,
#submitInitialsButton:hover { 
    color: var(--redDisplayTone);
}

#initials:hover {
    border: 3px var(--redDisplayTone) solid;
}

#littleInitialID, 
#littleScoreID { 
    background-color: var(--purpleHighlightingTone);
    opacity: 0.9;
}

.disappear {
    display: none; /* this will hide the question when the class is changed */ 
}